@page
@model PaintingStore.Pages.NotFoundModel
@{
}

<div class="row">
    <div class="col text-center">
        <img src="/images/notfound.png" alt="Page not found" />
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h1>The resource you are looking for can not be found</h1>
        <a asp-page="/Paintings/Paintings" class="btn btn-primary">Back</a>
    </div>
</div>
